
body {
    padding: 0;
    margin: 0;
/*
    max-width: 1000px;
    max-height: 900px;
    background: url('https://unsplash.com/photos/3cnp3dPnILU') top left no-repeat;
*/
    background: url('../images/evening_sky.jpg') center center no-repeat;
    background-size: cover;
}

#container {
    width: 500px;
    padding: 20px;
    margin: 30px auto;
    background: #ecf0f1;
    opacity: .9;
}

h1 {
    text-align: center;
    margin-top: 0px;
}

#hour_lbl {
    margin-right: 43px;
}

#min_lbl {
    margin-right: 27px;
}

form input {
    width: 80px;
}

#add {/*
    display: block;
    float: right;*/
    margin: 5px 25px 5px 20px;
    height: 1.6em;
}

#calculate {
    margin: 5px 0 20px 0;
    height: 1.6em;
}

#clear_time {
    margin: 15px 45px 0 1px;
}

#remove {
    margin-left: 85px;
}

#remove_index {
    width: 95px;
}

.clear {
    clear: both;
}

fieldset {
    text-align: center;
}

ol.times {
    display: inline-block;
    margin-right: 20px;
    font-size: 16px;
}

button {
    border: solid 1px black;
    border-radius: 1px;
}

button:active {
    position: relative;
    top: 2px;
}
